In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv("public_health.csv")

In [6]:
data

,Country Name,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Arab World,2.004868,2.014602,2.071309,2.177712,2.331000,2.333596,2.588751,2.540238,2.450415,...,2.134281,2.133038,2.166872,2.101233,2.830067,2.489631,2.539570,2.711262,2.895427,3.073161
1,Caribbean small states,2.801518,2.856684,2.997157,2.989451,2.767858,2.826752,2.679969,2.888693,2.740593,...,2.629580,2.650900,2.790665,2.822913,3.408651,3.264064,3.087653,3.314303,3.318432,3.260012
2,Central Europe and the Baltics,4.678528,4.753209,4.604574,4.499988,4.679082,4.539711,4.666272,4.900196,5.100249,...,4.970861,4.841450,4.809057,5.054785,5.394921,5.284380,5.096212,5.041317,5.029266,5.017717
3,Early-demographic dividend,2.203164,2.156632,2.227311,2.364100,2.454394,2.450555,2.527081,2.347702,2.363263,...,2.337347,2.369884,2.385251,2.405126,2.701260,2.507131,2.495491,2.497340,2.586701,2.665603
4,East Asia & Pacific,4.429090,4.203152,4.244351,4.453984,4.626920,4.688849,4.684790,4.613537,4.635098,...,4.566215,4.367146,4.297394,4.434848,4.865241,4.775817,4.871727,4.866869,4.643221,4.571448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,Vanuatu,2.139305,1.749747,2.296830,3.038570,2.639953,2.736929,2.788550,2.907660,3.418927,...,3.292996,3.427445,3.161682,3.179892,3.402323,4.182598,3.320178,3.167396,3.391475,4.510750
220,"Venezuela, RB",1.803152,1.482415,1.387316,1.466016,1.833422,2.163059,2.340757,2.151332,2.079300,...,2.153332,2.221770,2.464781,1.230489,2.496312,2.088239,2.335451,1.675638,1.542859,1.542766
221,Vietnam,1.757863,1.632232,1.604611,1.731438,1.717060,1.513863,1.627561,1.447736,1.551822,...,1.419570,1.944868,2.563552,2.131963,2.569187,2.960967,2.805002,3.722124,3.796361,3.820019
222,"Yemen, Rep.",1.358740,1.644501,1.898410,2.324038,2.127391,2.235286,2.294181,2.142649,2.181731,...,1.551117,1.521602,1.462790,1.565018,1.336698,1.299131,1.350447,1.571628,1.410010,1.271871
223,Zambia,2.152489,2.484678,2.585239,3.133965,3.403697,3.719900,3.526559,4.018110,4.187669,...,3.956979,2.755846,1.885822,2.189942,2.261668,2.279956,2.148932,2.536370,2.765405,2.760095

In [7]:
#data[data["Country Name"] == "Marshall Islands"]
data1 = pd.DataFrame(data["Country Name"])

In [8]:
type(data)
data

,Country Name,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Arab World,2.004868,2.014602,2.071309,2.177712,2.331000,2.333596,2.588751,2.540238,2.450415,...,2.134281,2.133038,2.166872,2.101233,2.830067,2.489631,2.539570,2.711262,2.895427,3.073161
1,Caribbean small states,2.801518,2.856684,2.997157,2.989451,2.767858,2.826752,2.679969,2.888693,2.740593,...,2.629580,2.650900,2.790665,2.822913,3.408651,3.264064,3.087653,3.314303,3.318432,3.260012
2,Central Europe and the Baltics,4.678528,4.753209,4.604574,4.499988,4.679082,4.539711,4.666272,4.900196,5.100249,...,4.970861,4.841450,4.809057,5.054785,5.394921,5.284380,5.096212,5.041317,5.029266,5.017717
3,Early-demographic dividend,2.203164,2.156632,2.227311,2.364100,2.454394,2.450555,2.527081,2.347702,2.363263,...,2.337347,2.369884,2.385251,2.405126,2.701260,2.507131,2.495491,2.497340,2.586701,2.665603
4,East Asia & Pacific,4.429090,4.203152,4.244351,4.453984,4.626920,4.688849,4.684790,4.613537,4.635098,...,4.566215,4.367146,4.297394,4.434848,4.865241,4.775817,4.871727,4.866869,4.643221,4.571448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,Vanuatu,2.139305,1.749747,2.296830,3.038570,2.639953,2.736929,2.788550,2.907660,3.418927,...,3.292996,3.427445,3.161682,3.179892,3.402323,4.182598,3.320178,3.167396,3.391475,4.510750
220,"Venezuela, RB",1.803152,1.482415,1.387316,1.466016,1.833422,2.163059,2.340757,2.151332,2.079300,...,2.153332,2.221770,2.464781,1.230489,2.496312,2.088239,2.335451,1.675638,1.542859,1.542766
221,Vietnam,1.757863,1.632232,1.604611,1.731438,1.717060,1.513863,1.627561,1.447736,1.551822,...,1.419570,1.944868,2.563552,2.131963,2.569187,2.960967,2.805002,3.722124,3.796361,3.820019
222,"Yemen, Rep.",1.358740,1.644501,1.898410,2.324038,2.127391,2.235286,2.294181,2.142649,2.181731,...,1.551117,1.521602,1.462790,1.565018,1.336698,1.299131,1.350447,1.571628,1.410010,1.271871
223,Zambia,2.152489,2.484678,2.585239,3.133965,3.403697,3.719900,3.526559,4.018110,4.187669,...,3.956979,2.755846,1.885822,2.189942,2.261668,2.279956,2.148932,2.536370,2.765405,2.760095

In [9]:
data2 = data.drop("Country Name",axis = 1)

In [10]:
data2

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,2.004868,2.014602,2.071309,2.177712,2.331000,2.333596,2.588751,2.540238,2.450415,2.314914,2.134281,2.133038,2.166872,2.101233,2.830067,2.489631,2.539570,2.711262,2.895427,3.073161
1,2.801518,2.856684,2.997157,2.989451,2.767858,2.826752,2.679969,2.888693,2.740593,2.845971,2.629580,2.650900,2.790665,2.822913,3.408651,3.264064,3.087653,3.314303,3.318432,3.260012
2,4.678528,4.753209,4.604574,4.499988,4.679082,4.539711,4.666272,4.900196,5.100249,4.913629,4.970861,4.841450,4.809057,5.054785,5.394921,5.284380,5.096212,5.041317,5.029266,5.017717
3,2.203164,2.156632,2.227311,2.364100,2.454394,2.450555,2.527081,2.347702,2.363263,2.346824,2.337347,2.369884,2.385251,2.405126,2.701260,2.507131,2.495491,2.497340,2.586701,2.665603
4,4.429090,4.203152,4.244351,4.453984,4.626920,4.688849,4.684790,4.613537,4.635098,4.626696,4.566215,4.367146,4.297394,4.434848,4.865241,4.775817,4.871727,4.866869,4.643221,4.571448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,2.139305,1.749747,2.296830,3.038570,2.639953,2.736929,2.788550,2.907660,3.418927,3.524657,3.292996,3.427445,3.161682,3.179892,3.402323,4.182598,3.320178,3.167396,3.391475,4.510750
220,1.803152,1.482415,1.387316,1.466016,1.833422,2.163059,2.340757,2.151332,2.079300,2.158141,2.153332,2.221770,2.464781,1.230489,2.496312,2.088239,2.335451,1.675638,1.542859,1.542766
221,1.757863,1.632232,1.604611,1.731438,1.717060,1.513863,1.627561,1.447736,1.551822,1.393650,1.419570,1.944868,2.563552,2.131963,2.569187,2.960967,2.805002,3.722124,3.796361,3.820019
222,1.358740,1.644501,1.898410,2.324038,2.127391,2.235286,2.294181,2.142649,2.181731,1.854331,1.551117,1.521602,1.462790,1.565018,1.336698,1.299131,1.350447,1.571628,1.410010,1.271871
223,2.152489,2.484678,2.585239,3.133965,3.403697,3.719900,3.526559,4.018110,4.187669,3.657084,3.956979,2.755846,1.885822,2.189942,2.261668,2.279956,2.148932,2.536370,2.765405,2.760095

In [12]:
data3 = pd.DataFrame(data2)


row_means = data3.mean(axis=1)


data4 = pd.DataFrame(row_means)

print(data4)

            0
0    2.395097
1    2.947091
2    4.893770
3    2.419608
4    4.573320
..        ...
219  3.113893
220  1.930827
221  2.185572
222  1.720078
223  2.920520

[224 rows x 1 columns]

In [13]:
data5 = pd.concat([data1,data4],axis=1)

In [14]:
data5.columns = ["Country Name","Health Mean"]

In [15]:
data5 = data5.sort_values("Health Mean",ascending=False)

In [16]:
data5

              Country Name  Health Mean
143       Marshall Islands    16.291729
211                 Tuvalu    14.559207
156                  Nauru    11.046924
147  Micronesia, Fed. Sts.     9.897481
125               Kiribati     8.943906
..                     ...          ...
52              Bangladesh     0.986877
115              Indonesia     0.921120
77        Congo, Dem. Rep.     0.847658
165               Pakistan     0.758448
154                Myanmar     0.349996

[224 rows x 2 columns]